#scene-exhibition, #scene-reserve {
    display: none;
    position: relative;
    top: 0;
    left: 0;
}

.exhibition-info {
    position: absolute;
    top: 800px;
    left: 200px;
}

.selected {
    transition: left 0.5s ease, top 0.5s ease, transform 0.5s ease;
}


//Test before UI implementation, to remove later
h1 {
    font-size: 10rem;
}

button {
    font-size: 10rem;
}
//endTest
