#scene-exhibition, #scene-reserve, #end-scene, #scene-welcome {
  display: none;
  position: relative;
  top: 0;
  left: 0;
}

.exhibition-info {
  position: absolute;
  z-index: 10;
  top: 1800px;
  left: 3300px;
}

.selected {
  transition: left 0.5s ease, top 0.5s ease, transform 0.5s ease;
}

#character {
  z-index: 16;
  display: none;
  position: fixed;
  bottom: 0;
  pointer-events: none;

}

.lumiere{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
}

.dialogue {
  z-index: 15;
  display: none;
  position: fixed;
  bottom: 180px;
  left: 900px;
  background-color: white;
}

#container-paintings {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

#container-paintings img {
  width: 400px;
  height: fit-content;
  transition: ease-in all 500ms;
  z-index: 4;
}

#scene-reserve .selectMode .selectModeImg {
  width: fit-content;
  max-width: 1286px;
  right: 0;
  top: 50%;
  z-index: 4;
}

#scene-reserve .selectMode{
    background-color: #21164D;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 200px 405px;
    overflow: hidden;
    border: 1px solid black;
    gap: 100px;
    transform: skew(0deg, 0deg)!important;
    z-index: 10 !important;
}

.selectMode::before{
    content: '';
    width: 85%;
    height: 91%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    pointer-events: none;
    z-index: 3;
}

.selectModeDescription {
  width: 100%;
  height: 100%;
}

.nextButton:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  opacity: 0.6;
}

.element {
  position: absolute;
}

.descriptionContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 78px;
  z-index: 5;
}

.containerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#reserve-background {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
  position: static;
}

#container-paintings{
    margin: auto;
    gap: 2rem;
    width: 60%;
    height: 0px;
    padding-top: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

#scene-reserve .containerPaintingsOnselectMode {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 20!important; 
}

#container-paintings > div:nth-child(4n + 1),
#container-paintings > div:nth-child(4n + 3) {
  transform: skew(0deg, -30deg);
  z-index: 3;
}

#container-paintings > div:nth-child(4n + 2),
#container-paintings > div:nth-child(4n + 4) {
  transform: skew(0deg, 30deg);
  z-index: 3;
}

.home-button {
  z-index: 20;
  position: fixed;
  bottom: 100px;
  left: 100px;
  z-index: 5;
}

.rightBottom {
    position: absolute;
   right: 0;
   bottom: 0;
   transform: translateY(20rem);
    z-index: 1000;
    z-index: 5;
}

.transitionAnimation {
    opacity: 0;
    transform: translateY(150px);
    animation: fade 0.5s ease-out forwards;

    &._delay {
        animation-delay: 0.25s;
    }
}

@keyframes fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.modalEnd{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1837px;
    height: 1282px;
    background-color: white;
    z-index: 1000;
    z-index: 5;
}

