.modal {
  display: flex;
  flex-direction: column;
  width: 1350px;
  border: 1px solid black;
  background-color: white;
  h3 {
    padding: 58px 64px;
  }
  p {
    padding: 64px;
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: black;
  }
}
