#progress-bar-container {
    display: flex;
    align-items: center;
    gap: 3vw; 
    margin: 20px 0;
}

.progress-block {
    padding: 100px 100px;
    border: 0.1vh solid #000;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    position: relative;
}

.progress-block.passed {
    background-color: black;
    color: white;
}

.progress-block:not(:last-child)::after {
    content: '';
    width: 3vw;
    height: 0.1vh;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3vw;
    z-index: 1;
}
